{{!< default}}
{{#post}}
<header class="regular post" 
	{{#if feature_image}}
	style="background-image: url({{img_url}});"
	{{else}}
		{{#if @blog.cover_image}}
		style="background-image: url({{@blog.cover_image}});"
		{{else}}
		style="background-image: url('{{asset "images/cover.jpg"}}');"
		{{/if}}
	{{/if}}
>
	{{> nav-container}}

	<div class="title-container">
		<h1 class="post-title">{{title}}</h1>
	</div>
</header>

<main>
	<div class="post-content">{{content}}</div>
</main>
{{/post}}